.button {
  display: flex;
  background-color: orangered;
  color: white;
  width: max-content;
  height: max-content;
  padding: 10px 20px;
  margin: 20px;
  transition-property: translate();
  transition-duration: 3s;
}

.button:hover {
  transform: translate(900px, 0);
}

.ease {
  transition-timing-function: ease;
}

.linear {
  transition-timing-function: linear;
}

.ease-in {
  transition-timing-function: ease-in;
}
.ease-out {
  transition-timing-function: ease-out;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}
